html, body, #editor, #editor_target { margin: 0; padding: 0; border: 0; overflow: hidden; }
#editor                             { position: fixed; top: 0; bottom: 0; left: 0; right: 0; }
#editor_target                      { width: 100%; height: 100%; }
